<div class="home-wrap">
      <div class="mobile-nav">
              <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#9gag">9GAG</a></li>
                <li><a href="#social">Social</a></li>
                <li><a href="#artwork">Artwork</a></li>
                <li><a href="#blog">Blog </a></li>
                <li><%= link_to "New Post",new_post_path  %></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
      </div>
      <header class="main">
        <div class="header-position">
          <div class="logo"></div>
          <nav class="site-nav"> 
                  <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#9gag">9GAG</a></li>
                    <li><a href="#social">Social</a></li>
                    <li><a href="#artwork">Artwork</a></li>
                    <li><a href="#blog">Blog </a></li>
                    <li><%= link_to "New Post",new_post_path  %></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
          </nav><a href="mailto:petruradulescu.v@gmail.com" class="email-link">+email-me</a>
          <div class="mobile-nav-toggle"><span></span></div>
        </div>
      </header>
      <div class="home-sections">
        <section id="about" class="about">
          <div class="flex flex--center">
            <div class="col-1 push-right">
              <h2>Petru is trying to grow up,</h2>
              <p class="home-lead">but instead he spends his time...</p>
            </div>
          </div>
        </section>
        <section id="9gag" class="gag">
          <div class="flex flex--space-around">
            <div class="col-1">
              <div class="picture-strip"></div>
              <div class="flex-video"><img id="imgAnimate"></div>
            </div>
            <div class="col-1 order-first">
              <p class="home-lead outdented">...creating funny memes on 9GAG...</p><a href="http://9gag.com/u/petruradulescuv" class="home-cta">See on 9GAG</a>
            </div>
          </div>
        </section>
        <section id="social" class="social">
          <div class="flex flex--center">
            <div class="col-50 flex flex--center facebook">
              <div class="col-1">
                <p class="home-lead">...being active on Facebook...</p><a href="https://www.facebook.com/berlinartparasites/photos/a.320868767963056.66054.199504240099510/937453126304614/?type=3&amp;theater/" target="blank" class="design-img-link">
                          <div class="box">
                            <div class="row-1 thumb">
                              <div class="col-20"><img src="/assets/social/facebook1.jpg"></div>
                              <div class="col-80">
                                <p class="view">View post</p>
                              </div>
                            </div>
                            <div class="row-1 message">
                              <p>Surround yourself with the dreamers and the doers, the believers and the thinkers.</p>
                            </div>
                          </div></a><a href="https://www.facebook.com/reddit/posts/10153895398323735" target="blank" class="design-img-link">
                          <div class="box">
                            <div class="row-1 thumb">
                              <div class="col-20"><img src="/assets/social/facebook2.png"></div>
                              <div class="col-80">
                                <p class="view">View post</p>
                              </div>
                            </div>
                            <div class="row-1 message">
                              <p>Hangover cures from Reddit. You're welcome.</p>
                            </div>
                          </div></a><a href="https://www.facebook.com/8fact/posts/423565864504220:0" target="blank" class="design-img-link">
                          <div class="box">
                            <div class="row-1 thumb">
                              <div class="col-20"><img src="/assets/social/facebook3.png"></div>
                              <div class="col-80">
                                <p class="view">View post</p>
                              </div>
                            </div>
                            <div class="row-1 message">
                              <p>Listening to music is one of the few activities that uses the entierly of the human brain</p>
                            </div>
                          </div></a>
                <div class="cf">   </div><a href="" class="home-cta">Facebook</a>
              </div>
            </div>
            <div class="col-50 flex flex--center twitter">
              <div class="col-1">
                <p class="home-lead">...and Twitter...</p><a href="https://twitter.com/PetruRadulescu/status/677479790560022528" target="blank" class="design-img-link">
                          <div class="box">
                            <div class="row-1 thumb">
                              <div class="col-20"><img src="/assets/social/tweet1.jpg"></div>
                              <div class="col-80">
                                <p class="view">View post</p>
                              </div>
                            </div>
                            <div class="row-1 message">
                              <p>Help Beethoven arrange his masterpieces in today`s #GoogleDoodle</p>
                            </div>
                          </div></a><a href="https://twitter.com/DevTipsShow/status/684041869983125504" target="blank" class="design-img-link">
                          <div class="box">
                            <div class="row-1 thumb">
                              <div class="col-20"><img src="/assets/social/tweet2.png"></div>
                              <div class="col-80">
                                <p class="view">View post</p>
                              </div>
                            </div>
                            <div class="row-1 message">
                              <p>Reviewing last year's devtips annual report. Getting ready to make goals for 2016</p>
                            </div>
                          </div></a><a href="https://twitter.com/TravAndLos/status/676806263888437249" target="blank" class="design-img-link">
                          <div class="box">
                            <div class="row-1 thumb">
                              <div class="col-20"><img src="/assets/social/tweet3.png"></div>
                              <div class="col-80">
                                <p class="view">View post</p>
                              </div>
                            </div>
                            <div class="row-1 message">
                              <p>Do you meditate? It's not as hard as you might think. This week we talk about the value of reflection</p>
                            </div>
                          </div></a>
                <div class="cf"></div><a href="" class="home-cta">Twitter</a>
              </div>
            </div>
          </div>
        </section>
        <section id="artwork" class="artwork">
          <div class="row-50 portfolio">
                    <div class="design-box"><img src="/assets/social-img/1.png" class="design-image">
                      <div class="overlay"> 
                        <div class="text">
                          <p>This is a self-portrait I`ve made for fun and also to consolidate my Adobe Illustrator skills.</p>
                        </div>
                        <div class="cta-buttons">
                          <div class="like">asdasda</div>
                          <div class="more">awda</div>
                        </div>
                      </div>
                    </div>
                    <div class="design-box"><img src="/assets/social-img/3.png" class="design-image">
                      <div class="overlay"> 
                        <div class="text">
                          <p>This is one of my entries in a design contest held my MEGA IMAGE,a big food chain here in Romania.'</p>
                        </div>
                        <div class="cta-buttons">
                          <div class="like">asdasda</div>
                          <div class="more">awda</div>
                        </div>
                      </div>
                    </div>
                    <div class="design-box"><img src="/assets/social-img/6.png" class="design-image">
                      <div class="overlay"> 
                        <div class="text">
                          <p>This is another of my entries in a design contest held my MEGA IMAGE,a big food chain here in Romania.</p>
                        </div>
                        <div class="cta-buttons">
                          <div class="like">asdasda</div>
                          <div class="more">awda</div>
                        </div>
                      </div>
                    </div>
                    <div class="design-box"><img src="/assets/social-img/4.png" class="design-image">
                      <div class="overlay"> 
                        <div class="text">
                          <p>The hoodie is one of the first things I`ve designed and I`m actually proud of how it turned out.</p>
                        </div>
                        <div class="cta-buttons">
                          <div class="like">asdasda</div>
                          <div class="more">awda</div>
                        </div>
                      </div>
                    </div>
                    <div class="design-box"><img src="/assets/social-img/5.png" class="design-image">
                      <div class="overlay"> 
                        <div class="text">
                          <p>This is the web-browser view of a webform for a car service company I`ve designed a while a go. </p>
                        </div>
                        <div class="cta-buttons">
                          <div class="like">asdasda</div>
                          <div class="more">awda</div>
                        </div>
                      </div>
                    </div>
          </div>
          <div class="row-50 artist">
            <p class="home-lead">...making designs for contests and friends...</p>
            <div class="me"></div><a href="" class="home-cta">See full portfolio</a>
          </div>
        </section>
        <section id="blog" class="blog">
          <div class="flex flex--space-around">
            <div class="col-2 last-posts">
              <div class="post-container">


              	<% @post.each do |post| %>
	              	<%=image_tag post.image.url(), :class =>"blog-image" %>
	                <div class="blog-more">
	                  <%= link_to post.title,post ,:class=>"blog-title" %>
	                  <p class="blog-text"><%= truncate(post.content,:length =>190)%></p>
	                  <%= link_to "Read more",post,:class => "home-cta"%>
	                </div>
              	<% end %>



                
              </div>
            </div>
            <div class="col-2 more-posts">
              <p class="home-lead">...sharing his toughts on world,word and life...</p>
              <%= link_to "See all posts",posts_path,:class => "home-cta"%>
            </div>
          </div>
        </section>
        <footer id="contact" class="home-footer"><a href="mailto:petruradulescu.v@gmail.com" class="mail">petruradulescu.v@gmail.com</a></footer>
      </div>
    </div>